// Buttons

.btn-shadow {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15) !important;
}

@media (max-width:991.98px){
  .btn-outline-light:hover {
    color:#f8f9fa;
    background-color:transparent;
  }
}
