// Typography

.lead {
  font-size: 1.2em;
}

.text-lg {
  font-size: 1.1em;
}

.text-gray {
  color: $gray;

  &:hover {
    color: darken($gray, 10%);
  }
}

// Hero header

.hero {
  &-title {
    margin-bottom: 2rem;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: .9;
    color: $white;
  }
  &-logo {
    margin-bottom: 2rem;
    height: 4rem;
  }
}

@media (min-width: 48em) {
  .hero {
    &-title {
      font-size: 6rem;
    }
    &-logo {
      height: 8rem;
    }
  }
}

// Articles

article {
  & h5 {
    text-decoration: underline;
    margin-bottom: 1.2rem;
  }

  & h6 {
    font-weight: 600;
  }

  & h7 {
    // paragraph-like properties
    display: inline-block;
    position: relative;

    // properties inherited from other headings
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;

    // custom properties
    font-size: 1rem;
  }

  & figcaption {
    text-align: center;
    font-style: italic;
    margin-top: .6rem;
    color: $gray;
  }

  & blockquote {
    border-left: 10px solid #ccc;
    margin: 1.5em 0;
    padding: 0 10px;

    &:before {
      color: #ccc;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
  }
}
