// Variables

// Colors

$primary: #A31C37;
$secondary: #F15A24;
$info: #823014;
$light: #F8F9FA;
$dark: #19191C;
$lighter-dark: #282828;

// Body

$body-bg: $dark;

// Dropdowns

$dropdown-min-width: 5rem;
$dropdown-bg: $lighter-dark;
$dropdown-padding-y: 0;
$dropdown-border-radius: 0;
$dropdown-border-color: transparent;
$dropdown-link-hover-color: $secondary;
$dropdown-link-hover-bg: none;
$dropdown-link-active-color: $secondary;
$dropdown-link-active-bg: none;
$dropdown-item-padding-y: .75rem;

// Cards

$card-border-width: 0;

// Spacing

$spacer: 1rem;
$spacers: (
    6: ($spacer * 5),
    7: ($spacer * 8)
    );

// Navbar

$navbar-dark-toggler-border-color: none;
