// Variables

// Colors

$primary: #A31C37;
$info: #823014;
$light: #F8F9FA;

// Dropdowns

$dropdown-padding-y: 0;
$dropdown-border-radius: 0;
$dropdown-border-color: $light;
$dropdown-link-hover-color: $primary;
$dropdown-link-hover-bg: none;
$dropdown-link-active-color: $primary;
$dropdown-link-active-bg: none;
$dropdown-item-padding-y: .75rem;

// Cards

$card-border-width: 0;

// Spacing

$spacer: 1rem;
$spacers: (
    6: ($spacer * 5),
    7: ($spacer * 8)
    );

// Navbar

$navbar-dark-toggler-border-color: none;
