@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "typography";
@import "node_modules/pattern.css/pattern.scss";

// Card
.card {
  &-up {
    top: -100px;
  }
  &-down {
    bottom: -100px;
  }
}

.jumbotron {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.alert {
  border: 1px solid #A31C37;
}

.text-danger {
  color: #A31C37 !important;
}

.btn-shadow {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15) !important;
}

// Icons

.os-icon {
  padding-bottom: 3px;
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-menu'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E") !important;
}

// Article

article {
  font-size: 120%;
}
