@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/pattern.css/pattern";
@import "node_modules/aos/src/sass/aos";
@import "typography";
@import "buttons";
@import "selection";

// Colors

.bg-lighter-dark {
  background-color: $lighter-dark;
}

.alert {
  border: 1px solid $danger;
}

// Navbar

.navbar-expanded {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%239A9DA0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E") !important;
}

// Dropdown

.dropdown-menu-version {
  width: 124px;
}

.dropdown-item {
  color: $white;
}

// Underline animation

.underline-animate,
.nav-item > a,
.dropdown > button {
  &:hover, &:focus {
    text-decoration: none;

    &::after {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }

  &::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: $white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
}

.dropdown-toggle::after {
  // reset bootstrap style
  margin-left: 0;
  border: 0;
}

// Chevron rotation

.rotate {
  transition-duration: .4s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.unrotate {
  transition-duration: .4s;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

// Article

article {
  font-size: 1.1em;
}

.content hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

.content h3 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.fit-cover {
  height: 100%;
  object-fit: cover;
}

// Misc

.jumbotron {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
