# local env
.DS_Store
**/*.swap
**/*.swp

# node
node_modules
package-lock.json

# dist
dist/
dist-lang/

# compiled files
README.html
app/static/css/style.css
app/newsroom/*.html
app/static/css/*

# Local Netlify folder
.netlify
