{% extends 'base.njk' %}

{% block title %}Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}

    <section class="bg-dark">
      <div class="container">
        <div class="row pb-3">
          <div class="col my-5 py-5">
            <h1 class="hero-title">404</h1>
            <p class="text-light lead">Page not found</p>
            <a class="text-light" href="/"><u>Home page</u></a>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
