{% extends 'base.njk' %}

{% block title %}$( contact.title )$ | Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}
<section class="bg-dark">
  <div class="container">
    <div class="row pb-3">
      <div class="col py-5 text-center text-md-left">
        <h1 class="hero-title">$( contact.title )$</h1>
      </div>
    </div>
  </div>
</section>

<section class="bg-lighter-dark text-white">
  <div class="container py-5">

    <div class="row">
      <!-- Support -->
      <div class="col-6 col-md-3 mb-4 mb-md-0">
        <div class="h3 text-white">Support</div>
        <ul class="list-inline social">
          <li>
            <a class="text-muted" target="_blank" href="https://gitlab.com/bitcoin-cash-node/bitcoin-cash-node/">GitLab</a>
          </li>
          <li>
            <a class="text-muted" href="mailto:support@bitcoincashnode.org">Email</a>
          </li>
          <li>
            <a class="text-muted" target="_blank" href="https://join.slack.com/t/bitcoincashnode/shared_invite/zt-egg3c36d-2cglIrKcbnGpIQFaKFzCWA">Slack</a>
          </li>
          <li>
            <a class="text-muted" target="_blank" href="https://t.me/bitcoincashnode">Telegram</a>
          </li>
        </ul>
      </div>

      <!-- Security -->
      <div class="col-6 col-md-3 mb-4 mb-md-0">
        <div class="h3 text-white">Security</div>
        <ul class="list-inline social">
          <li>
            <a class="text-muted" target="_blank" href="https://gitlab.com/bitcoin-cash-node/bitcoin-cash-node/-/blob/master/DISCLOSURE_POLICY.md">Disclosure policy</a>
          </li>
          <li>
            <a class="text-muted" href="mailto:security@bitcoincashnode.org">Email</a>
          </li>
        </ul>
      </div>

      <!-- Website -->
      <div class="col-6 col-md-3 mb-4 mb-md-0">
        <div class="h3 text-white">Website</div>
        <ul class="list-inline social">
          <li>
            <a class="text-muted" target="_blank" href="https://github.com/bitcoin-cash-node/bchnode-web">GitHub</a>
          </li>
          <li>
            <a class="text-muted" href="mailto:website@bitcoincashnode.org">Email</a>
          </li>
          <li>
            <a class="text-muted" target="_blank" href="https://t.me/merc1er">Telegram</a>
          </li>
        </ul>
      </div>

  </div>
</section>
{% endblock %}
