{% extends 'base.njk' %}

{% block title %}Donate | Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}
<section class="bg-lighter-dark text-white py-5" id="donate">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11 col-lg-8">
        <h3 class="text-center h1" data-aos="zoom-in">$( index.donate.title )$</h3>
        <div class="row">
          <div class="col-md-8 mt-3 lead" data-aos="fade-right">
            <p>$( index.donate.parag1 )$</p>
            <p>$( index.donate.parag2 )$</p>
          </div>
          <div class="col-md-4 text-center mt-3" data-aos="fade-left" data-aos-delay=200>
            <a href="bitcoincash:prnc2exht3zxlrqqcat690tc85cvfuypngh7szx6mk">
              <img class="rounded" src="/static/img/qr-donation.png" alt="QR code" height="160" width="160">
            </a>
          </div>
        </div>
        <p class="text-truncate text-center pt-4">
          <a class="text-danger" href="bitcoincash:prnc2exht3zxlrqqcat690tc85cvfuypngh7szx6mk">bitcoincash:prnc2exht3zxlrqqcat690tc85cvfuypngh7szx6mk</a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
