{% extends 'base.njk' %}

{% block title %}Download | Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    <section class="bg-dark">
      <div class="container">
        <div class="row pb-3">
          <div class="col my-5 py-5 text-center text-md-left">
            <h1 class="hero-title">Download</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light">
      <div class="container py-5">
        <!-- linux -->
        <div class="row justify-content-center">
          <div class="col-11 col-lg-7">
            <h2 class="py-4">Linux</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="row pt-2 text-center justify-content-center">
              <div class="col-md-4">
                <a class="m-2 btn btn-outline-dark btn-lg btn-block border-0 btn-shadow" href="#">
                  386 <img class="os-icon" src="/static/img/icons/linux.svg" height="15" alt="">
                </a>
                <a class="text-muted" href="#">signatures</a>
              </div>
              <div class="col-md-4">
                <a class="m-2 btn btn-outline-dark btn-lg btn-block border-0 btn-shadow" href="#">
                  64 bit <img class="os-icon" src="/static/img/icons/linux.svg" height="15" alt="Linux">
                </a>
                <a class="text-muted" href="#">signatures</a>
              </div>
              <div class="col-md-4">
                <a class="m-2 btn btn-outline-dark btn-lg btn-block border-0 btn-shadow" href="#">
                  ARM <img class="os-icon" src="/static/img/icons/linux.svg" height="15" alt="Linux">
                </a>
                <a class="text-muted" href="#">signatures</a>
              </div>
            </div>
          </div>
        </div>
        <!-- /linux -->
        <!-- macOS -->
        <div class="row justify-content-center pt-5">
          <div class="col-11 col-lg-7">
            <h2 class="py-4">macOS</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="row pt-2 text-center">
              <div class="col-md-4">
                <a class="m-2 btn btn-outline-dark btn-lg btn-block border-0 btn-shadow" href="#">
                  macOS <img class="os-icon" src="/static/img/icons/apple.svg" height="15" alt="Apple">
                </a>
                <a class="text-muted" href="#">signatures</a>
              </div>
            </div>
          </div>
        </div>
        <!-- /macOS -->
        <!-- Windows -->
        <div class="row justify-content-center pt-5">
          <div class="col-11 col-lg-7">
            <h2 class="py-4">Windows</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="row pt-2 text-center">
              <div class="col-md-4">
                <a class="m-2 btn btn-outline-dark btn-lg btn-block border-0 btn-shadow" href="#">
                  Windows <img class="os-icon" src="/static/img/icons/windows.svg" height="15" alt="Windows">
                </a>
                <a class="text-muted" href="#">signatures</a>
              </div>
            </div>
          </div>
        </div>
        <!-- /Windows -->
      </div>
    </section>
{% endblock %}
