{% extends 'base.njk' %}

{% block title %}Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}

<section class="bg-dark">
  <div class="container">
    <div class="row pb-3">
      <div class="col my-5 py-5 text-center text-md-left">
        <img class="hero-logo" src="/static/img/logo-white.svg" alt="Bitcoin Cash Node">
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-11 col-lg-8 card border-0 card-up">
        <div class="card-body">
          <h3 class="text-center pt-2">Download <small>v0.21.1</small></h3>
          <div class="row pt-4 text-center justify-content-center pb-2">
            <div class="col-md-4">
              <a class="m-2 btn btn-outline-dark btn-lg btn-block border-0 btn-shadow" href="/download.html#linux">
                Linux <img class="os-icon" src="/static/img/icons/linux.svg" height="15" alt="Linux">
              </a>
            </div>
            <div class="col-md-4">
              <a class="m-2 btn btn-outline-dark btn-lg btn-block border-0 btn-shadow" href="/download.html#macos">
                macOS <img class="os-icon" src="/static/img/icons/apple.svg" height="15" alt="Apple">
              </a>
            </div>
            <div class="col-md-4">
              <a class="m-2 btn btn-outline-dark btn-lg btn-block border-0 btn-shadow" href="/download.html#windows">
                Windows <img class="os-icon" src="/static/img/icons/windows.svg" height="15" alt="Windows">
              </a>
            </div>
          </div>
          <div class="text-center pt-3">
            <a class="text-muted" href="https://gitlab.com/bitcoin-cash-node/bitcoin-cash-node/-/tags/v0.21.0" target="_blank">Release notes</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container pb-5">
    <!-- intro -->
    <div class="row justify-content-center">
      <div class="col-11 col-lg-7">
        <h4 class="pb-5">Bitcoin Cash Node initiative</h4>
        <p class="lead">The primary goal of the Bitcoin Cash Node initiative is to provide a safe and professional node implementation that will neutrally follow the longest Bitcoin Cash chain without contributing to the risk of a chain split.</p>
        <a class="" href="https://read.cash/@freetrader/bitcoin-cash-node-003b2381" target="_blank">Read the announcement</a>
      </div>
    </div>
    <!-- /intro -->
    <!-- social -->
    <div class="row justify-content-center">
      <div class="col-11 col-lg-7">
        <h4 class="py-5">Get in touch</h4>
        <div class="row text-center">
          <!-- slack -->
          <div class="col-6 col-md-3">
            <a href="https://join.slack.com/t/bitcoincashnode/shared_invite/zt-ctozdnpv-pUknwZpANybRg5xyeKyx8Q" target="_blank">
              <img src="/static/img/icons/slack.svg" height="30" alt="Slack">
              <p class="mt-3 text-muted">Slack</p>
            </a>
          </div>
          <!-- /slack -->
          <!-- twitter -->
          <div class="col-6 col-md-3">
            <a href="https://twitter.com/bitcoincashnode" target="_blank">
              <img src="/static/img/icons/twitter.svg" height="30" alt="Twitter">
              <p class="mt-3 text-muted">Twitter</p>
            </a>
          </div>
          <!-- /twitter -->
          <!-- telegram -->
          <div class="col-6 col-md-3">
            <a href="https://t.me/bitcoincashnode" target="_blank">
              <img src="/static/img/icons/telegram.svg" height="30" alt="Telegram">
              <p class="mt-3 text-muted">Telegram</p>
            </a>
          </div>
          <!-- /telegram -->
          <!-- gitlab -->
          <div class="col-6 col-md-3">
            <a href="https://gitlab.com/bitcoin-cash-node/" target="_blank">
              <img src="/static/img/icons/gitlab.svg" height="30" alt="Gitlab">
              <p class="mt-3 text-muted">Gitlab</p>
            </a>
          </div>
          <!-- /gitlab -->
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11 col-lg-7">
        <h4 class="py-5">IRC</h4>
        <p>Join <span class="font-weight-bold">#bchnode</span> on Freenode.</p>
      </div>
    </div>
    <!-- /social -->
  </div>
</section>

<section class="bg-light" id="donate">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11 col-lg-8 card border-0 card-down">
        <div class="card-body">
          <h3 class="text-center pt-2">Donate</h3>
          <div class="row">
            <div class="col-md-8 mt-3">
              <p>
                3-of-5 multisignature address held by team members. It is used for general funding of BCH Node operations, including personnel, equipment and contracting.
              </p>
              <p>
                At the next fundraising effort, any funds unused will also contribute to fulfilling that campaign.
              </p>
            </div>
            <div class="col-md-4 text-center">
              <a href="bitcoincash:prnc2exht3zxlrqqcat690tc85cvfuypngh7szx6mk">
                <img class="rounded border" src="/static/img/qr-donation.png" alt="QR code" height="160" width="160">
              </a>
            </div>
          </div>
          <p class="text-truncate text-center pt-4">
            <a href="bitcoincash:prnc2exht3zxlrqqcat690tc85cvfuypngh7szx6mk">bitcoincash:prnc2exht3zxlrqqcat690tc85cvfuypngh7szx6mk</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark">
  <div class="container py-5"></div>
</section>

{% endblock %}
