{% extends 'base.njk' %}

{% block title %}$( sponsors.title )$ - Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}
<section class="bg-dark">
  <div class="container">
    <div class="row pb-3">
      <div class="col my-5 text-center text-md-left">
        <h1 class="hero-title">$( sponsors.title )$</h1>
      </div>
    </div>
  </div>
</section>

<section class="bg-lighter-dark text-white">
  <div class="container py-6">

    <h3>$( sponsors.org )$</h3>
    <p class="text-muted">$( sponsors.listed )$</p>

    <div class="row align-items-center">
      <div class="col-6 col-md-3 col-xl-2 py-3 justify-content-center">
        <a href="https://www.bitcoin.com/" target="_blank">
          <img src="/static/img/sponsors/bitcoincom.png" class="img-fluid">
        </a>
      </div>
      <div class="col-6 col-md-3 col-xl-2 py-3">
        <a href="https://generalprotocols.com/" target="_blank">
          <img src="/static/img/sponsors/gp.svg" class="img-fluid">
        </a>
      </div>
      <div class="col-6 col-md-3 col-xl-2 py-3">
        <a href="https://satoshidice.com/" target="_blank">
          <img src="/static/img/sponsors/satoshidice.png" class="img-fluid">
        </a>
      </div>
    </div>

    <h3 class="mt-6">$( sponsors.individual )$</h3>
    <p class="text-muted">$( sponsors.listed )$</p>

    <div>
      <p>$( sponsors.soon )$n</p>
    </div>

  </div>
</section>
{% endblock %}
