{% extends 'base.njk' %}

{% block title %}Team | Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    <section class="bg-dark">
      <div class="container">
        <div class="row pb-3">
          <div class="col my-5 py-5 text-center text-md-left">
            <h1 class="hero-title">Team</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light">
      <div class="container py-5">
        
      </div>
    </section>
{% endblock %}
