{% extends 'base.njk' %}

{% block title %}Team | Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}
<section class="bg-dark">
  <div class="container">
    <div class="row pb-3">
      <div class="col my-5 py-5 text-center text-md-left">
        <h1 class="hero-title">Team</h1>
        <p class="text-white">This page is under development and will be updated daily as we gather members' data.</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container py-5">
    <div class="row my-5">
      <a href="/members/freetrader" class="col-6 col-lg-4 col-xl-3">
        <img src="/static/img/team/freetrader.png" alt="freetrader" class="img-fluid rounded my-3" width="500">
        <h4 class="h2">freetrader</h4>
        <p class="lead">Lead maintainer</p>
      </a>
      <a href="/members/sickpig" class="col-6 col-lg-4 col-xl-3">
        <img src="/static/img/team/sickpig.jpg" alt="sickpig" class="img-fluid rounded my-3" width="500">
        <h4 class="h2">sickpig</h4>
        <p class="lead">Maintainer and developer</p>
      </a>
      <a href="/members/emergent-reasons" class="col-6 col-lg-4 col-xl-3">
        <img src="/static/img/team/emergent.jpg" alt="emergent" class="img-fluid rounded my-3">
        <h4 class="h2">emergent reasons</h4>
        <p class="lead">BCHN janitor</p>
      </a>
      <a href="/members/fernando-pelliccioni" class="col-6 col-lg-4 col-xl-3">
        <img src="/static/img/team/fernando.jpg" alt="fernando" class="img-fluid rounded my-3">
        <h4 class="h3">Fernando Pelliccioni</h4>
        <p class="lead">Contributor, Knuth node lead developer</p>
      </a>
      <a href="/members/mtrycz" class="col-6 col-lg-4 col-xl-3">
        <img src="/static/img/team/mtrycz.png" alt="mtrycz" class="img-fluid rounded my-3">
        <h4 class="h3">mtrycz</h4>
        <p class="lead">Contributor</p>
      </a>
      <div class="col-6 col-lg-4 col-xl-3">
        <img src="/static/img/team/merc1er.jpg" alt="merc1er" class="img-fluid rounded my-3">
        <h4 class="h2">Corentin Mercier</h4>
        <p class="lead">Web developer</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
