{% extends 'base.njk' %}

{% block title %}Team | Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}
<section class="bg-dark">
  <div class="container">
    <div class="row pb-3">
      <div class="col py-7 text-center text-md-left">
        <h1 class="hero-title">Team</h1>
      </div>
    </div>
  </div>
</section>

<section class="bg-lighter-dark text-white">
  <div class="container py-5">
    <div class="row my-5 text-center">
      <a href="/members/freetrader" class="text-white col-lg-4 mb-5">
        <img src="/static/img/team/freetrader.png" alt="freetrader" class="img-fluid rounded-circle my-3" width="200">
        <h4 class="h2">freetrader</h4>
        <p class="lead">Lead Maintainer</p>
      </a>
      <a href="/members/sickpig" class="text-white col-lg-4 mb-5">
        <img src="/static/img/team/sickpig.jpg" alt="sickpig" class="img-fluid rounded-circle my-3" width="200">
        <h4 class="h2">sickpig</h4>
        <p class="lead">Maintainer and Developer</p>
      </a>
      <a href="/members/emergent-reasons" class="text-white col-lg-4 mb-5">
        <img src="/static/img/team/emergent.jpg" alt="emergent" class="img-fluid rounded-circle my-3" width="200">
        <h4 class="h2">emergent reasons</h4>
        <p class="lead">BCHN Janitor</p>
      </a>
      <div class="text-white col-lg-4 mb-5">
        <img src="/static/img/team/merc1er.jpg" alt="merc1er" class="img-fluid rounded-circle my-3" width="200">
        <h4 class="h2">Corentin Mercier</h4>
        <p class="lead">Web Developer</p>
      </div>
      <a href="/members/fernando-pelliccioni" class="text-white col-lg-4 mb-5">
        <img src="/static/img/team/fernando.jpg" alt="fernando" class="img-fluid rounded-circle my-3" width="200">
        <h4 class="h3">Fernando Pelliccioni</h4>
        <p class="lead">Contributor, Knuth Node Lead Developer</p>
      </a>
      <a href="/members/mtrycz" class="text-white col-lg-4 mb-5">
        <img src="/static/img/team/mtrycz.png" alt="mtrycz" class="img-fluid rounded-circle my-3" width="200">
        <h4 class="h3">mtrycz</h4>
        <p class="lead">Contributor</p>
      </a>
      <a href="/members/im-uname" class="text-white col-lg-4 mb-5">
        <img src="/static/img/team/im_uname.png" alt="im_uname" class="img-fluid rounded-circle my-3" width="200">
        <h4 class="h3">im_uname</h4>
        <p class="lead">Contributor</p>
      </a>
      <div class="text-white col-lg-4 mb-5">
        <img src="/static/img/team/dagur.jpg" alt="dagur" class="img-fluid rounded-circle my-3" width="200">
        <h4 class="h3">Dagur</h4>
        <p class="lead">Maintainer and Developer</p>
      </div>
      <a href="/members/calin-calianu" class="text-white col-lg-4 mb-5">
        <img src="/static/img/team/calin.jpg" alt="calin" class="img-fluid rounded-circle my-3" width="200">
        <h4 class="h3">Calin Culianu</h4>
        <p class="lead">Maintainer and Developer, BCHN, Fulcrum & Electron Cash</p>
      </a>
      <a href="/members/bigblockiftrue" class="text-white col-lg-4 mb-5">
        <img src="/static/img/team/bigblockiftrue.png" alt="bigblockiftrue" class="img-fluid rounded-circle my-3" width="200">
        <h4 class="h3">BigBlockIfTrue</h4>
        <p class="lead">Developer</p>
      </a>
      <a href="/members/jtoomim" class="text-white col-lg-4 mb-5">
        <img src="/static/img/team/jtoomim.jpg" alt="jtoomim" class="img-fluid rounded-circle my-3" width="200">
        <h4 class="h2">Jonathan Toomim</h4>
        <p class="lead">Contributor, Independent BCH Developer</p>
      </div>
      <div class="text-white col-lg-4 mb-5">
        <img src="/static/img/team/tracy_chen.jpg" alt="tracy_chen" class="img-fluid rounded-circle my-3" width="200">
        <h4 class="h2">Tracy Chen</h4>
        <p class="lead">BCHN Representative</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
