{% extends 'base.njk' %}

{% block title %}Axel Gembe | Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    <section class="bg-dark">
      <div class="container py-5">
        <div class="row py-5 text-center text-md-left justify-content-center">
          <div class="col-md-4 text-md-right">
            <img class="rounded" src="/static/img/team/axelgembe.jpg" alt="Axel Gembe" width="200">
          </div>
          <div class="col-md-6 mt-5">
            <h1 class="text-white font-weight-bold">Axel Gembe</h1>
            <h4 class="text-white">Developer</h4>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light">
      <div class="container py-5">
        <div class="row my-5 justify-content-center">
          <div class="col-md-9 text-lg">
            <p>Axel Gembe is a professional software developer and early Bitcoin enthusiast interested in using Bitcoin as a cash replacement. He is experienced in C / C++ / C# / Python and Java, working on embedded systems, server software, application software and real-time graphics.</p>
            <p>He also is occasionally doing hardware development including designing PCBs, automated testing systems and firmware.</p>
            <p class="mt-5"><a href="/team" class="text-dark text-decoration-none"><img src="/static/icons/arrow-left-circle.svg"> <span class="font-weight-bold">back</span></a></p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
