{% extends 'base.njk' %}

{% block title %}BigBlockIfTrue | Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    <section class="bg-dark">
      <div class="container py-5">
        <div class="row py-5 text-center text-md-left justify-content-center">
          <div class="col-md-4 text-md-right">
            <img class="rounded" src="/static/img/team/bigblockiftrue.png" alt="bigblockiftrue" width="200">
          </div>
          <div class="col-md-6 mt-5 mt-md-4">
            <h1 class="text-white font-weight-bold">sickpig</h1>
            <h4 class="text-white">BigBlockIfTrue</h4>
            <h4 class="text-white">Developer</h4>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light">
      <div class="container py-5">
        <div class="row my-5 justify-content-center">
          <div class="col-md-9 text-lg">
             <p>BigBlockIfTrue has been following Bitcoin Cash development since
             the inception of the project in 2017, actively participating in
             various related community discussions over the years. He previously
             created one of the first graphics packs for Bitcoin Cash
             (https://bitcoinlogo.eu) and translated Electron Cash into Dutch,
             and now contributes to the development of the Bitcoin Cash Node
             source code.</p>

            <p>BigBlockIfTrue holds a PhD degree in an engineering discipline and
            has professional programming experience in various languages, including
            C++, Python, and Java.</p>
            <p class="mt-5"><a href="/team" class="text-dark text-decoration-none"><img src="/static/icons/arrow-left-circle.svg"> <span class="font-weight-bold">back</span></a></p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
