{% extends 'base.njk' %}

{% block title %}emergent_reasons | Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    <section class="bg-dark">
      <div class="container py-5">
        <div class="row py-5 text-center text-md-left justify-content-center">
          <div class="col-md-4 text-md-right">
            <img class="rounded" src="/static/img/team/emergent.jpg" alt="emergent" width="200">
          </div>
          <div class="col-md-6 mt-5">
            <h1 class="text-white font-weight-bold">emergent_reasons</h1>
            <h4 class="text-white">BCHN Janitor</h4>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light">
      <div class="container py-5">
        <div class="row my-5 justify-content-center">
          <div class="col-md-9 text-lg">
            <p>emergent_reasons has held many roles professionally from software
            developer to teacher to president. In addition to being a Bitcoin
            and later Bitcoin Cash investor, the block size conflict that led
            to the creation of Bitcoin Cash convinced him that it was important
            to take an active role in building Bitcoin, helping it to fulfill
            its potential as the best money in the world. Since then, he has
            done what he can to help many projects and build new industry
            on Bitcoin Cash. He sees Bitcoin Cash Node as a critical step
            in Bitcoin's maturation from high-risk dependence on a reference
            node into a true cooperative and competitive node landscape.</p>

            <p class="mt-5"><a href="/team" class="text-dark text-decoration-none"><img src="/static/icons/arrow-left-circle.svg"> <span class="font-weight-bold">back</span></a></p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
