{% extends 'base.njk' %}

{% block title %}Fernando Pelliccioni | Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    <section class="bg-dark">
      <div class="container py-5">
        <div class="row py-5 text-center text-md-left justify-content-center">
          <div class="col-md-4 text-md-right">
            <img class="rounded" src="/static/img/team/fernando.jpg" alt="fernando" width="200">
          </div>
          <div class="col-md-6 mt-5 mt-md-4">
            <h1 class="text-white font-weight-bold">fpelliccioni</h1>
            <h4 class="text-white">Fernando Pelliccioni</h4>
            <h4 class="text-white">Contributor, Knuth node lead developer</h4>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light">
      <div class="container py-5">
        <div class="row my-5 justify-content-center">
          <div class="col-md-9 text-lg">
            <p>Fernando comes from a programmer's house, his father is a programmer,
            which allowed him to learn the discipline from childhood.</p>

            <p>In 1997 he started working professionally and began to specialize in
            systems programming and high performance computing.
            While he can program in multiple programming languages ​​and in different
            paradigms, his passion for efficiency made him choose C++ as his main
            programming language. He has been programming in this language for more
            than 23 years and his interest in it remains intact.
            Although he is not a voting member of the C++ standards committee,
            he has constant dialogue with its members and actively participates in
            the evolution of the C++ programming language.</p>

            <p>In addition to systems programming, he is driven by mathematics, algorithms
            and formal software specification. He has dialogue with eminences in these
            areas, such as Paul McJones, Bertrand Meyer, Alexander Stepanov and
            Donald Knuth himself.</p>

            <p>In 2016, he was awarded with the highest distinction granted by the
            Argentine Parliament, receiving the Honorable Mention
            "Senator Domingo Faustino Sarmiento", for his work as CS leader of the
            COPLA team (National Commission of the Outer Limit of the Continental Shelf),
            which enabled the determination of the new Outer Limit of the Continental Shelf
            of the Argentine Republic.
            The limit was approved on March 11, 2016 by the United Nations, unanimously.
            The deep technical and scientific work carried out made possible the extension
            of the Argentine territory in more than 1,782,000 km2, becoming the most
            important event, at the national level, since the country's independence
            processes.</p>

            <p>Also, in 2016 he began to get involved in the world of cryptocurrencies,
            creating the first versions of the Bitprim node, then becoming the team's
            lead programmer.
            He currently serves as the lead developer for Knuth project, a high-performance
            multi-currency node, and is a member and contributor of BCHN.
            His purpose is to try to bring all his knowledge about algorithms,
            high-performance computing and modern C++ development to the Bitcoin world.</p>

            <p class="mt-5"><a href="/team" class="text-dark text-decoration-none"><img src="/static/icons/arrow-left-circle.svg"> <span class="font-weight-bold">back</span></a></p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
