{% extends 'base.njk' %}

{% block title %}mtrycz | Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}
<section class="bg-dark">
  <div class="container py-5">
    <div class="row py-5 text-center text-md-left justify-content-center">
      <div class="col-md-4 text-md-right">
        <img class="rounded" src="/static/img/team/mtrycz.png" alt="mtrycz" width="200">
      </div>
      <div class="col-md-6 mt-5">
        <h1 class="text-white font-weight-bold">mtrycz</h1>
        <h4 class="text-white">Contributor</h4>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container py-5">
    <div class="row my-5 justify-content-center">
      <div class="col-md-9 text-lg">
        <p>mtrycz has a lot of interests, CS/IT being one of them and the main professional focus.</p>

        <p>He's worked for 15 years on a variety of projects, mostly in small teams where a set of different skills are needed.  Most of his day work is in Java and Javascript, with all of the dev-ops plumbing that is usual in smaller teams.</p>

        <p>He says that his C/C++ are a little rusty these days, but that's not a big deal since he's a QA-inclined guy. In fact most of his contributions are in documentation and testing - there's always lots to do besides coding. He has a preference for evidence-based development: benchmarking different solutions against each other helps with removing (inevitable) bias.</p>

        <p>What does he want from Bitcoin? Just a level(-er) playing field for everyone. He's been searching for a long time for a way to contribute toward this goal, and Bitcoin Cash Node is the right opportunity.</p>

        <p class="mt-5"><a href="/team" class="text-dark text-decoration-none"><img src="/static/icons/arrow-left-circle.svg"> <span class="font-weight-bold">back</span></a></p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
