{% extends 'base.njk' %}

{% block title %}sickpig | Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    <section class="bg-dark">
      <div class="container py-5">
        <div class="row py-5 text-center text-md-left justify-content-center">
          <div class="col-md-4 text-md-right">
            <img class="rounded" src="/static/img/team/sickpig.jpg" alt="sickpig" width="200">
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <h1 class="hero-title">sickpig</h1>
            <h4 class="text-white">Andrea Suisani</h4>
            <h4 class="text-white">Maintainer and developer</h4>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light">
      <div class="container py-5">
        <div class="row my-5 justify-content-center">
          <div class="col-md-9 text-lg">
            <p>A software developer for almost twenty years, recently transitioned
            to what they use to call a full-stack software developer. That means
            doing 4 jobs while being payed only for one. On the bright side such
            a role gives opportunity to improve skills through a lot of IT
            fields like database system administration, system administration,
            coding and project management.</p>

            <p>Holding a Bachelor degree in statistics, and getting into Bitcoin in
            2011, Andrea briefly pool mined with a Radeon GPU, and hasn't looked
            back since.</p>

            <p class="mt-5"><a href="/team" class="text-dark text-decoration-none"><img src="/static/icons/arrow-left-circle.svg"> <span class="font-weight-bold">back</span></a></p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
