{% extends 'base.njk' %}

{% block title %}Eugene Hopkinson (SlowRiot) | Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    <section class="bg-dark">
      <div class="container py-5">
        <div class="row py-5 text-center text-md-left justify-content-center">
          <div class="col-md-4 text-md-right">
            <img class="rounded" src="/static/img/team/slowriot.jpg" alt="Eugene Hopkinson (SlowRiot)" width="200">
          </div>
          <div class="col-md-6 mt-5">
            <h1 class="text-white font-weight-bold">Eugene Hopkinson (SlowRiot)</h1>
            <h4 class="text-white">Developer</h4>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light">
      <div class="container py-5">
        <div class="row my-5 justify-content-center">
          <div class="col-md-9 text-lg">
            <p>Eugene Hopkinson (AKA SlowRiot) is an expert C++ programmer with an insatiable enthusiasm for technology of all sorts, and a deep passion for issues of personal liberty.  He is fascinated with the massive potential that cryptocurrency holds to transform society, situated as it is at the nexus of these two.  Having grown up with computers, and entirely self-taught in programming, he has been writing code for thirty years - the last twenty of which have been in a professional capacity.</p>

            <p>Eugene has founded a number of enterprises; the most interesting of these have been independent game development companies and publishers.  One of his greatest motivations in programming is in the power to create immersive and meaningful virtual worlds, which have the potential to change the lives of those who experience them.  He is passionate about open source software, develops primarily for Linux, and regularly contributes to a range of open source projects.  The remainder of his professional experience lies in financial technology, systems architecture and corporate governance.</p>

            <p>In his spare time, he likes to watch pretentious art films, photograph wildlife, and build sports cars from scratch.</p>

	    <ul>
              <li> <a href="https://stackoverflow.com/cv/e_hopkinson">https://stackoverflow.com/cv/e_hopkinson</a> </li>
              <li> <a href="https://stackoverflow.com/users/1678468/riot">https://stackoverflow.com/users/1678468/riot</a> </li>
            </ul>
            <p class="mt-5"><a href="/team" class="text-dark text-decoration-none"><img src="/static/icons/arrow-left-circle.svg"> <span class="font-weight-bold">back</span></a></p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
