{% extends 'base.njk' %}

{% block title %}Tracy Chen | Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    <section class="bg-dark">
      <div class="container py-5">
        <div class="row py-5 text-center text-md-left justify-content-center">
          <div class="col-md-4 text-md-right">
            <img class="rounded" src="/static/img/team/tracy_chen.jpg" alt="Tracy" width="200">
          </div>
          <div class="col-md-6 mt-5">
            <h1 class="text-white font-weight-bold">Tracy Chen</h1>
            <h4 class="text-white">BCHN Representative</h4>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light">
      <div class="container py-5">
        <div class="row my-5 justify-content-center">
          <div class="col-md-9 text-lg">
            <p>Tracy is BCHN's public representative. Her main role is
            to establish and maintain communication channels between
            the BCHN team and BCH users, stakeholders and the larger
            ecosystem such as exchanges, mining pools and wallets.
            Tracy's work ensures that BCHN's decisions are communicated
            and vetted well with stakeholders.  She also runs BCHN's
            community and SNS in China to update the latest project
            progress and financial reports.
            She has worked as a traditional media professional and
            entered the cryptocurrency industry in 2018. She has
            worked in the marketing teams of Bitmain and Matrixport in
            the past few years and gained extensive and professional
            experience in PR.</p>
            <br>
            <p>Tracy是BCHN的代表，她的角色主要是代表BCHN团队和BCH用户、及各生态方（如交易所，矿池，钱包等）建立联系渠道并保持沟通，以保证BCHN各项决策得到充分许可与验证。她同时运营着BCHN在中国的社群和社交媒体以更新项目最新进展及财务报告。
她曾经是一名传统媒体人，从2018年开始进入到加密行业，这几年她一直在比特大陆和Matrixport的市场团队工作，有着丰富而专业的PR经历。</p>

            <p class="mt-5"><a href="/team" class="text-dark text-decoration-none"><img src="/static/icons/arrow-left-circle.svg"> <span class="font-weight-bold">back</span></a></p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
