{% extends 'base.njk' %}

{% block title %}Announcing Bitcoin Cash Node v22.0.0 | Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}
<section class="bg-dark">
  <div class="container">
    <div class="row pb-3">
      <div class="col my-5 py-5 text-center">
        <h1 class="text-white">Release announcement: Bitcoin Cash Node v22.0.0</h1>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container py-6">

    <div class="row justify-content-center">
      <article class="col-md-10 col-lg-8">

        <div class="d-flex align-items-center pb-5">
          <img src="/static/img/logomark.svg" alt="Logo" class="mr-3" height="40">
          <div>
            <div>by <strong>Bitcoin Cash Node Team</strong></div>
            <div class="text-small text-muted">17 August 2020</div>
          </div>
        </div>

        <p>The Bitcoin Cash Node (BCHN) project is pleased to announce its major release version 22.0.0.</p>

        <p>This release implements the <a href="https://upgradespecs.bitcoincashnode.org/2020-11-15-upgrade/">November 15, 2020 network upgrade</a>. It contains the ASERT difficulty algorithm, improved documentation and a number of bugfixes and performance improvements.</p>

        <p>For the full release notes, please visit:</p>

        https://github.com/bitcoin-cash-node/bitcoin-cash-node/releases/tag/v22.0.0

        <p>Executables and source code for supported platforms are available at the above link, or via the download page on our project website at</p>

        https://bitcoincashnode.org

        <p>For more information about the November 15, 2020 network upgrade, visit</p>

        https://upgradespecs.bitcoincashnode.org/2020-11-15-upgrade/

        <p>We hope you enjoy our latest release and invite you to join us to improve Bitcoin Cash.</p>

        <p>Sincerely,</p>

        <p>The Bitcoin Cash Node team.</p>

      </article>
    </div>
  </div>
</section>
{% endblock %}
