{% extends 'base.njk' %}

{% block title %}BCHN flipstarted - thank you to the community | Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}
<section class="bg-dark">
  <div class="container">
    <div class="row pb-3">
      <div class="col my-5 py-5 text-center">
        <h1 class="text-white">BCHN flipstarted - thank you to the community</h1>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container py-6">

    <div class="row justify-content-center">
      <article class="col-md-10 col-lg-8">

        <div class="d-flex align-items-center pb-5">
          <img src="/static/img/logomark.svg" alt="Logo" class="mr-3" height="40">
          <div>
            <div>by <strong>Bitcoin Cash Node Team</strong></div>
            <div class="text-small text-muted">27 April</div>
          </div>
        </div>

        <p>Yesterday something quite unexpected happened for us at the <a href="https://bitcoincashnode.org">Bitcoin Cash Node</a> project.</p>

        <p class="font-weight-bold">Our <a href="https://bchn.flipstarter.cash" target="_blank">Flipstarter</a> campaign reached 100% with 12 days to go before the cutoff!</p>

        <p>We would like to thank all those who donated to the Flipstarter.</p>

        <p>Also, thanks to those who donated to us via our regular donation address and on through other ways, like tipping our project's blog post or individual developers.</p>

        <p>And thank you to the <a href="https://read.cash/@flipstarter" target="_blank">Flipstarter</a> team who helped us (and all other projects) tremendously to get here.</p>

        <p>We truly appreciate it. <span class="font-weight-bold text-primary">THANK YOU!!!</span></p>

        <div class="text-center py-5">
          <img src="https://rcimg.net/images/81e2fd64/dLPfjKOLqYIRmDckpAr3hdzywZrBXxeBFwHrKCH4.png" class="img-fluid rounded shadow-sm" alt="Fundraiser complete">
        </div>

        <p>Some people have asked us how they can donate SLP tokens like SPICE to us.</p>

        <p>We only have a temporary holding SLP address for that while we set up a multi-signature wallet, but you can now donate tokens to us at</p>

        <p>
          <code>simpleledger:qrjv4klcn9z5kqeye3ps64pr6aa4mzux8cy776pm6k</code>
        </p>

        <p>Warmest regards to all who supported us so far - not only with financial donations, but also with active support (e.g. developing, testing, improving our documentation, giving us good advice or words of encouragement along the way). We believe that together we (not just our project, but all Bitcoin Cash projects) can achieve something new and exciting - a boost of innovation and scaling our ecosystem, both in adoption and technical capacity. Let's do it!</p>

        <p><span class="font-weight-bold">We'd like to give our thanks to the hard-working pools and miners who are supporting us by <a href="https://bitcoincash.network/voting/" target="_blank">signaling on chain</a>.</span> This signal matters a lot to show that Bitcoin Cash can be open and diverse - not only in terms of number of infrastructure projects, but crucially at the network level where miners meet all other users.</p>

        <p>If you run a pool or exchange, get in touch with us on <a href="https://join.slack.com/t/bitcoincashnode/shared_invite/zt-ctozdnpv-pUknwZpANybRg5xyeKyx8Q" target="_blank">our Slack</a> or via other means (see our website) to ask questions and find out more.</p>

        <p class="font-weight-bold">Our real work kicks off in earnest now.</p>

        <p>You can read up on <a href="https://gitlab.com/bitcoin-cash-node/bchn-project-management/bchn-pm-public/-/raw/master/finance/funding/campaigns/2020-q2-flipstarter/pdf/Bitcoin_Cash_Node_Flipstarter_Funding_Proposal_v1_1.pdf" target="_blank">our plans</a> in our proposal, and we trust that you will remind us to stick to our aims and develop what we promised. Our lead maintainer will provide more details as the project planning is refined going forward and we engage further participants who will help us achieve our targets. We invite those who think they can assist us with some of our planned tasks, to get in touch!</p>

        <div class="pt-2 pb-4">
          <hr>
        </div>

        <p>For all those who wanted to pledge via Flipstarter but could not make it in on time, please consider supporting some or all of the other projects who are in this together with us to take Bitcoin Cash to the next level.</p>

        <p>We are very encouraged to see a lot of them so close to reaching their goals too, and would like nothing more than to see all of them get the funding they need:</p>

        <ul>
          <li>
            <a href="https://bchd.flipstarter.cash" target="_blank">BCHD</a>
          </li>
          <li>
            <a href="https://verde.flipstarter.cash" target="_blank">Bitcoin Verde</a>
          </li>
          <li>
            <a href="https://knuth.flipstarter.cash" target="_blank">Knuth</a>
          </li>
          <li>
            <a href="https://abc.flipstarter.cash" target="_blank">Bitcoin ABC</a>
          </li>
        </ul>

        <div class="pt-2 pb-4">
          <hr>
        </div>

        <p>List of users who contributed to Bitcoin Cash Node's first (*) Flipstarter to reach the 978 BCH goal, for historical record:</p>

        <ul>
          <li>38% SLP Foundation 371.37 BCH</li>
          15% Marc De Mesel 151.33 BCH "Thanks for keeping Bitcoin Cash sound money that is <li>permissionless, decentralized, non inflationary & voluntary"</li>
          10% Thomas J 100.50 BCH "He has made Miners dependent on his Will alone for the <li>tenure of their offices +the amount and payment of their salaries"</li>
          <li>10% SatoshiDice.com 100.43 BCH "https://SatoshiDice.com"</li>
          <li>4% Shadow Of Harbringer 36.31337 BCH "BCHN Node Project FTW!"</li>
          <li>3% molecular 29.11 BCH "choice! how awesome."</li>
          3% molecular's drunk uncle 28.95 BCH "I don't know what this is, but molecular <li>told me to click certain buttons to move some funds here for more Vodka."</li>
          <li>2% Masanobu Fukuoka 16.40 BCH "The father of natural farming principles"</li>
          <li>1% 峨眉山 12.04 BCH "早晨的太阳升起"</li>
          <li>1% zveda 11.12 BCH "Pls no taxerino"</li>
          1% MattMinerShill 10.42 BCH "Because the IFP is a Tax, and thats not what BCH <li>stands for. "</li>
          <li>1% Anonymous Pelican 10.25 BCH "gogogo!"</li>
          <li>1% gammadelta 10.12 BCH "for positive change"</li>
          <li>1% alphabeta 10.00 BCH "vires in numeris"</li>
          <li>1% Anonymous 9.74 BCH</li>
          <li>1% Order Without Power 9.22 BCH</li>
          <li>1% Haruki Murakami 7.20 BCH "Is the best !!"</li>
          <li>1% Henry Cashlitt 6.31 BCH "Bitcoin Cash (BCH): Upgraded money for the world"</li>
          <li>< 1% Anonymous 4.31 BCH</li>
          <li>< 1% legal_username 4.03 BCH "let's do this"</li>
          <li>< 1% Sam 2.10 BCH "time to get serious"</li>
          <li>< 1% Suzuki Subarashi 2.09 BCH "let's get this bad boy funded"</li>
          < 1% emergent_reasons#100🌵 2.05 BCH "FYI Large pledges will allow more people to <li>participate by reducing the minimum."</li>
          <li>< 1% anime is okay 2.03 BCH</li>
          <li>< 1% Monica 2.02 BCH "The revolution will not be centralized"</li>
          <li>< 1% huckfinne 2.01 BCH</li>
          < 1% gm 1.70 BCH "Responding to: I'll increase my Bitcoin Cash Node Flipstarter <li>pledge by 1 BCH for every new contributor"</li>
          <li>< 1% Jt Blockparty Freeman 1.63 BCH</li>
          <li>< 1% Keith Patrick 1.60 BCH "I promise I won't shill fund.honkhonk.io anymore. "</li>
          <li>< 1% Kaizen517 1.57 BCH</li>
          <li>< 1% Anonymous 1.55 BCH "Thanks"</li>
          <li>< 1% Sur_Clyde_Hoffenfelder 1.51 BCH</li>
          <li>< 1% Laura 1.50 BCH "Number Go Up Please"</li>
          <li>< 1% namby 1.49 BCH "wake up miners"</li>
          <li>< 1% BitcoinOutLoud 1.49 BCH "P2P cash for the world &lt;3"</li>
          < 1% Anonymous 1.44 BCH "It's more than I can afford but I love BCH & world needs <li>electronic P2P money."</li>
          <li>< 1% Lopokoko 1.44 BCH "P2P Electronic Cash for the world!"</li>
          <li>< 1% Anonymous 1.42 BCH</li>
          <li>< 1% lugaxker 1.20 BCH "Electronic Cash Without a Trusted Third Party"</li>
          <li>< 1% dagurval 1.02 BCH "Participating in a historical transaction"</li>
          <li>< 1% Anonymous 1.01 BCH</li>
          <li>< 1% Eric Reid 1.00 BCH</li>
          <li>< 1% Anonymous 1.00 BCH</li>
          <li>< 1% Anonymous 1.00 BCH "Money for everyone, with integrity and freedom"</li>
          <li>< 1% Why cryptocurrencies? 0.99 BCH "https://whycryptocurrencies.com/"</li>
          <li>< 1% Sancho 0.96 BCH "Bitcoin Cash para todo el mundo"</li>
        </ul>

        <div class="pt-2 pb-4">
          <hr>
        </div>

        <p>* It's our first Flipstarter because our proposal outlines a plan for us to flipstart additional objectives over the next months.</p>

        <div class="pt-2 pb-4">
          <hr>
        </div>

      </article>
    </div>

  </div>
</section>
{% endblock %}
