{% extends 'base.njk' %}

{% block title %}Newsroom | Bitcoin Cash Node{% endblock %}
{% block description %}{% endblock %}

{% block body %}
<section class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col my-5 py-5 text-center text-md-left">
        <h1 class="hero-title">Newsroom</h1>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark">
  <div class="container py-5">

    <div class="row my-5">
      <div class="col-10 col-md-11">
        <div class="pattern-dots-sm text-white">
          <div class="card flex-md-row no-gutters bg-light text-dark" style="transform:translate(30px, -30px);">
            <a href="bchn-flipstarted" class="col-md-4">
              <img src="/static/img/unsplash/city-complete.jpg" alt="City Complete" class="card-img rounded-0">
            </a>
            <div class="card-body d-flex flex-column col-auto p-4">
              <div class="d-flex justify-content-between mb-3">
                <div class="text-small d-flex">
                  <div class="mr-2">
                    Article
                  </div>
                  <span class="text-muted">27 April 2020</span>
                </div>
              </div>
              <a href="bchn-flipstarted" class="flex-grow-1">
                <h3>BCHN flipstarted - thank you to the community!</h3>
              </a>
              <div class="d-flex align-items-center mt-3">
                <img src="/static/img/logomark.svg" alt="Logo" class="mr-3" height="40">
                <div>
                  by <strong>Bitcoin Cash Node Team</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
{% endblock %}
