{% extends 'base.njk' %}{% block title %}{% endblock %}{% block description %}{% endblock %}{% block body %}
<section class="bg-dark">
    <div class="container">
        <div class="row pb-3">
            <div class="col my-5 py-5 text-center">
                <h1 class="text-white">BCHN flipstarted - thank you to the community</h1> 
            </div>
        </div>
    </div>
</section>
<section class="bg-light">
    <div class="container py-6">
        <div class="row justify-content-center">
            <article class="col-md-10 col-lg-8">
                <div class="d-flex align-items-center pb-5">
                    <img src="/static/img/logomark.svg" alt="Logo" class="mr-3" height="40">
                    <div>
                        <div>by <strong>Bitcoin Cash Node Team</strong>
                        </div>
                        <div class="text-small text-muted">27 April 2020</div>
                    </div>
                </div>
                <div class="content">
                    <h1 id="some-article">Some article</h1>
                    <p>some text</p>
                </div>
            </article>
        </div>
    </div>
</section>{% endblock %}