{% extends 'base.njk' %}

{% block title %}<% get('title') %>{% endblock %}
{% block description %}<% get('description') %>{% endblock %}

{% block body %}
<section class="bg-dark">
  <div class="container">
    <div class="row pb-3">
      <div class="col my-5 py-5 text-center">
        <h1 class="text-white"><% get('title') %></h1>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container py-6">

    <div class="row justify-content-center">
      <article class="col-md-10 col-lg-8">

        <div class="d-flex align-items-center pb-5">
          <img src="/static/img/logomark.svg" alt="Logo" class="mr-3" height="40">
          <div>
            <div>by <strong><% get('author') %></strong></div>
            <div class="text-small text-muted"><% get('date') %></div>
          </div>
        </div>

        <div class="content">
          <% get('content') %>
        </div>

      </article>
    </div>
  </div>
</section>
{% endblock %}
