<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="Bitcoin Cash Community">
    <meta name="description" content="Home of the Bitcoin Cash Node full node implementation for Bitcoin Cash (BCH).">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="https://bitcoincashnode.org/static/img/icons/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="https://bitcoincashnode.org/static/img/icons/apple-touch-icon.png" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bitcoincashnode">
    <meta name="twitter:creator" content="@bitcoincashnode">
    <meta name="twitter:title" content="Bitcoin Cash Node">
    <meta name="twitter:description" content="Home of the Bitcoin Cash Node full node implementation for Bitcoin Cash (BCH).">
    <meta name="twitter:image" content="https://bitcoincashnode.org/static/thumbnail.png">

    <!-- Facebook -->
    <meta property="og:url" content="https://bitcoincashnode.org/">
    <meta property="og:title" content="Bitcoin Cash Node">
    <meta property="og:description" content="Home of the Bitcoin Cash Node full node implementation for Bitcoin Cash (BCH).">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://bitcoincashnode.org/static/thumbnail.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="675">

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark pt-4">
      <div class="container">
        <a class="btn btn-link text-white" href="/">Home</a>
        <div>
          <a class="btn btn-link text-white" href="https://gitlab.com/bitcoin-cash-node/bitcoin-cash-node/-/tree/master/doc" target="_blank">Docs</a>
          <a class="btn btn-link text-white d-none d-sm-inline" href="https://gitlab.com/bitcoin-cash-node/bitcoin-cash-node" target="_blank">Source</a>
          <a class="btn btn-link text-white" href="/download.html">Download</a>
        </div>
      </div>
    </nav>

    {% block body %}{% endblock %}

    <footer class="bg-dark">
      <div class="container py-5">
        <div class="row mb-5">
          <div class="col text-center">
            <a class="btn btn-link text-white" href="https://gitlab.com/bitcoin-cash-node/bitcoin-cash-node/-/tree/master/doc" target="_blank">Docs</a>
            <a class="btn btn-link text-white" href="https://gitlab.com/bitcoin-cash-node/bitcoin-cash-node" target="_blank">Source</a>
            <a class="btn btn-link text-white" href="/download.html">Download</a>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
