<a class="dropdown-item" href="/en">English</a>
<a class="dropdown-item" href="/zh">简体中文</a>
<a class="dropdown-item" href="/es">Español</a>
<a class="dropdown-item" href="/ja">日本語</a>
<a class="dropdown-item" href="/ko">한국어</a>
<a class="dropdown-item" href="/de">Deutsch</a>
<a class="dropdown-item" href="/fr">Français</a>
<a class="dropdown-item" href="/nl">Nederlands</a>
<a class="dropdown-item" href="/no">Norsk</a>
